

<table summary="user form fields">
  <tr>
    <th><%= f.label(:fname, "First") %></th>
    <td><%= f.text_field(:fname) %></td>
  </tr>
  <tr>
    <th><%= f.label(:lname, "Last") %></th>
    <td><%= f.text_field(:lname) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email, "Email") %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:summary, "Summary") %></th>
    <td><%= f.text_field(:summary) %></td>
  </tr>
</table>